*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 20px;
}
body{
    background:#f5f5f5;
}
.navbar{
    width:100%;
    background:#f85606;
    color:white;
    display:flex;
    align-items:center;
    padding:12px 20px;
    flex-wrap:wrap;
    position:sticky;
    top:0;
    z-index:10;
}

.logo{
    font-size:26px;
    font-weight:bold;
    margin-right:20px;
}

.search-box{
    flex:1;
    display:flex;
    max-width:500px;
    padding-top: 50px;
}

.search-box input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:3px 0 0 3px;
}

.search-box button{
    background:#ffe0d1;
    border:none;
    padding:10px 15px;
    border-radius:0 3px 3px 0;
    cursor:pointer;
}

.nav-links{
    display:flex;
    gap:15px;
    padding:10px;
    flex-wrap:wrap;
    font-size:13px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.cart{
    font-size:24px;
    margin-left:15px;
}
@media(max-width:768px){
    .nav-links{
        display:none;
    }
    .cart{
        margin-left:auto;
    }
}
.carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-container {
    width: 95%;             
    max-width: 1300px;         
    max-height: 420px;
    border-radius: 10px;       
    overflow: hidden;
    position: relative;
}
.carousel-track {
    display: flex;
    width: 200%;
    animation: slide 5s infinite ease-in-out;
}
.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0); }
    45% { transform: translateX(0); }
    50% { transform: translateX(-50%); }
    95% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}
@media (max-width: 768px) {
    .carousel-container {
        width: 94%;
        max-height: 260px;
    }
}

@media (max-width: 480px) {
    .carousel-container {
        width: 92%;
        max-height: 180px;
    }
}
.showcas-img{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.flash-top{
    margin-top: 30px;
}
.flash-sale {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop-btn {
    background: #fff;
    border: 1px solid #ff7a00;
    color: #ff7a00;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.sub-heading {
    color: #f57200;
    margin-top: 10px;
}
.products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}
.product-card {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
    text-align: left;
}
.product-card:hover{
    background-color: 0px 6px 12px #1e496c;
}
.product-card img {
    width: 100%;
    border-radius: 6px;
}
.product-card h4 {
    font-size: 14px;
    margin: 10px 0 5px;
    height: 38px;
}
.price {
    color: #ff5300;
    font-weight: bold;
}
.old-price {
    color: gray;
    font-size: 13px;
    text-decoration: line-through;
}
body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    margin: 0;
}
.load-more-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.load-more-btn {
    padding: 10px 40px;
    background: white;
    border: 2px solid #6dc0df;
    color: #6dc0df;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    background: #fff;
}
.footer-column {
    width: 220px;
}

.footer-column h3 {
    margin-bottom: 12px;
}
.footer-column a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
}
.footer-app {
    min-width: 250px;
}
.app-logo-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.daraz-app-icon {
    width: 45px;
}
.store-icons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.store-icon {
    width: 130px;
}
@media (max-width: 900px) {
    .footer {
        justify-content: flex-start;
        padding-left: 30px;
    }
}
@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        padding-left: 30px;
    }
}
